---
layout: default
---
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
          {% if site.default_lang == "ko" %}
            <p style="font-size: 38px; font-weight: bolder"> {{ site.headline }} </p>
          {% endif %}
          {% if site.default_lang == "en" %}
            <p style="font-size: 38px; font-weight: bolder"> {{ site.headline_en }} </p>
          {% endif %}
            {% if site.description %}
            <span class="subheading"> {{ site.description }} </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if site.default_lang == "ko" %}
        <h3>이 블로그는..</h3>
        {% endif %}
        {% if site.default_lang == "en" %}
        <h3>This blog is..</h3>
        {% endif %}
        <hr>
        <center>
          <img style="width: 40%;" src="/img/profile/profile.png" alt="profile-icon" class="profile-icon">
        </center>
        {% if site.default_lang == "ko" %}
        <p style="font-size: 17px;"> {{ site.intro}}</p>
        {% endif %}
        {% if site.default_lang == "en" %}
        <p style="font-size: 17px;"> {{ site.intro_en}}</p>
        {% endif %}
        <hr />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home: All Post List (ko) -->
        {% if site.default_lang == "ko" %}
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
            {% if post.url %}
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
            {% endif %}
            {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
              <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
            </a>

          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
          </p>
        </article>

        <hr>
        {% endfor %}
        {% endif %}
        <!-- /. Home: All Post List (ko) -->

        <!-- Home: All Post List (en) -->
        {% if site.default_lang == "en" %}
        <!-- {% for post in site.posts.lang.en limit : 5 %} -->
        {% for post in site.posts limit : 5 %}

        <article class="post-preview">
            {% if post.url %}
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/en/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
            {% endif %}
            {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
            {% else %}
              <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
            {% endif %}
            </a>

          <p class="post-meta">Posted by
            {% if post.author %}
            {{ post.author }}
            {% else %}
            {{ site.author }}
            {% endif %}
            on
            {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
          </p>
        </article>

        <hr>
        {% endfor %}
        {% endif %}
        <!-- /. Home: All Post List (en) -->

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
